/* Self Aware Containers*/
@container layout (max-width:700px) {
    .filter-nav {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: visible;
        padding-block: 1rem;
        gap: clamp(0.4rem, 2cqi, 1rem);
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        /* Firefox */
    }

    .filter-nav::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari */
    }

    .filter-button {
        flex: 0 0 auto;
        scroll-snap-align: start;
        white-space: nowrap;
    }

    .card {
        flex-direction: column;
        gap: 1rem;
        padding: 1.2rem;
    }

    .card h2 {
        font-size: clamp(1.2rem, 2.5cqi, 1.4rem);
    }

    .card h4 {
        font-size: 0.7rem;
        padding: 0.2rem 0.6rem;
    }
}

@container layout (max-width:500px) {
    .card {
        aspect-ratio: unset;
        min-height: 240px;
    }
}

@container layout (min-width:700px) and (max-width:1000px) {
    .card-wrapper {
        grid-template-columns: repeat(2, 1fr) !important;
        gap: clamp(1rem, 2cqi, 2rem);
    }

    .card {
        padding: clamp(1rem, 2.5cqi, 1.5rem);
    }

    .card h2 {
        font-size: clamp(1.3rem, 2.5cqi, 2.3rem);
    }

    .card h4 {
        font-size: clamp(0.4rem, 2.2cqi, 1rem);
    }

    .filter-button {
        width: clamp(8rem, 6cqi, 10rem);
        font-size: clamp(0.8rem, 2cqi, 1.2rem);
    }
}

body {
    background-color: #f5f5f7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.2;
    word-spacing: 2px;
    margin: 0;
}

.container {
    container-type: inline-size;
    container-name: layout;
    padding: clamp(0.5rem, 2cqi, 1rem);
    min-height: max-content;
    height: 100vh;
}
@media (hover: hover) {
    .card:hover {
        transform: translateY(2%) scale(1.02);
        z-index: 2;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
}

@keyframes auraPulse {
    0% {
        box-shadow: 0 0 10px rgba(230, 135, 175, 0.3);
    }

    50% {
        box-shadow: 0 0 20px rgba(230, 135, 175, 0.6);
    }

    100% {
        box-shadow: 0 0 10px rgba(230, 135, 175, 0.3);
    }
}