/*Desktop layout*/
@container layout (min-width:769px){
    .filter-button{
        padding: clamp(0.5rem,2cqi,1rem);
        width: 10%;
    }
    .card-wrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
/* Mobile layout */
@container layout (max-width:769px){
    .filter-button{
        padding: clamp(0.2rem,1cqi,0.5rem);
        width: 17%;
    }
    .card-wrapper{
        padding-left: 1rem;
        grid-template-columns: auto;
    }
}

body{
    background-color: #f5f5f7;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.2;
    word-spacing: 2px;
    margin: 0;
}
.container{
    container-type: Inline-size;
    container-name: layout;
    padding: clamp(0.5rem,2cqi,1rem);
    min-height: max-content;
    height: 100vh;

}

/* Filter */
.filter-nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    font-size: clamp(0.9rem,2cqi,2.5rem);
    gap: clamp(0.2rem,2cqi,1rem);
    text-align: center;
}
.filter-button{
    width: auto;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-out;
    backdrop-filter: blur(1000px);
}
.filter-button:hover{
    box-shadow: 0 0 10px rgb(230, 135, 176) ;
    transform: scale(1.03);
}
 /* Card Grid */
 .card-wrapper{
    margin-top: clamp(1rem,2cqi,2rem); 
    display: grid;
    gap: clamp(2rem, 3cqi, 3rem);
 }
 .card img{
    width: 60%;
    height: 70%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
 }
 .card{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: clamp(1rem,3cqi,2rem) ;
    display: flex;
    flex-direction: column;
    align-items: center;
 }


